node_modules/
npm-debug.log
bower_components/
app/*.js
app/*.js.map
.DS_Store
build/
typings/
resources/images/background1.jpeg
resources/images/background3.jpg
resources/images/logo.png
resources/images/logo2.jpg
resources/images/logo3.jpg

